extends pug-layout/_layout
block content
    .container
        h1.text-center Ajouter une annonce
        #step-progress.my-4
            p.mb-0.text-center Etape
                span#now-step
                | /
                span#total-step
            .progress(style='height:3px')
                .progress-bar(style='width:0%')
        form#addAnnonce.form-step.text-center.my-5(method='post' action='#' autocomplete='off')
            #step-0.step
                h3.mb-4 Véhicule
                .form-row.pb-4
                    .col-5.offset-1
                        label(for='car-brand') Marque
                        select#car-brand.form-control(name='car-brand' required)
                            option(value='null') Choisissez une marque
                            each brand in brands
                                option(value=brand) #{brand}
                    .col-5
                        label(for='car-model') Modèle
                        select#car-model.form-control(name='car-model' required disabled)
                            option(value='null') Choisissez un modèle
                        small#car-model-warn.form-text.text-muted Merci de selectionner une marque.
            #step-1.step
                h3.mb-4 Version de votre véhicule
                .form-row
                    .col-10.offset-1
                        label(for='car-details-version') Version
                        input#car-details-version.form-control(name='car-details-version' type='text' required)
                        small.form-text.text-muted Exemple :
                            i "II 1.6 E-HDI 115 CONFORT"
            #step-2.step
                h3.mb-4 Aspects du véhicule
                .form-row
                    .col-5.offset-1
                        label(for='car-details-doors') Portes
                        input#car-details-doors.form-control(name='car-details-doors' type='number' min="0" max='20' required)
                    .col-5
                        label(for='car-details-places') Places
                        input#car-details-places.form-control(name='car-details-places' min="0" max='20' type='number' required)
                    .col-12.d-flex.align-items-center.flex-column.mt-4
                        label(for='car-details-color') Couleur
                        input#car-details-color.form-control(name='car-details-color' type='color' required)
            #step-3.step
                h3.mb-4 Détails techniques du véhicule
                .form-row
                    .col-5.offset-1
                        label(for='car-details-energy') Energie
                        select#car-details-energy.form-control(name='car-details-energy' required)
                            option(value='null') Choisissez un type d'énergie
                            option(value='Diesel') Diesel
                            option(value='Essence') Essence
                            option(value='Electrique') Electrique
                            option(value='GPL') GPL
                    .col-5
                        label(for='car-details-transmission') Transmission
                        select#car-details-transmission.form-control(name="car-details-transmission" required)
                            option(value='null') Choisissez une transmission
                            option(value='Automatique') Automatique
                            option(value='Manuelle') Manuelle

                    .col-5.offset-1.mt-4
                        label(for='car-details-cv') Puissance(CV)
                        input#car-details-cv.form-control(name='car-details-cv' type='number' min="0" required)
                    .col-5.mt-4
                        label(for='car-details-hp') Puissance(CH)
                        input#car-details-hp.form-control(name='car-details-hp' type='number' min="0" required)
                    .col-5.offset-1.mt-4
                        label(for='car-details-productionYear') Année de production
                        input#car-details-productionYear.form-control.datepicker-yyyy(name='car-details-productionYear' type='text' required)
                    .col-5.mt-4
                        label(for='car-details-km') Kilométrage
                        input#car-details-km.form-control(name='car-details-km' type='number' min="0" required)
            #step-4.step
                h3.mb-4 Photos du véhicule
                .form-row
                    .col-10.offset-1.d-flex.align-items-center.flex-column
                        label(for='car-images') Images (5 maximum)
                        input#car-images.form-control-file.w-auto(name='images' type='file' multiple)
                        small.form-text.text-muted Au moins une image est requise
                        #file-img-preview.mt-3
            #step-5.step
                h3.mb-4 Description de l'annonce
                .form-row
                    .col-10.offset-1
                        label(for='content') Description (informations supplémentaires)*
                        textarea#content.form-control(rows='6' name='content')
                        small.form-text.text-muted *Champ optionnel
            #step-6.step
                h3.mb-4 Prix de vente du véhicule
                .form-row
                    .col-6.offset-3
                        label(for='price') Prix
                        input#price.form-control(type='number' name="price")
            #step-7.step
                h3.mb-4 Prévisualisez votre annonce
                .border.rounded
                    section.single-annonce.text-left.my-5
                        .container
                            .row
                                .col-8#preview-car-images

                                .col-4
                                    .card.sticky-card.shadow.border-0.sticky-top
                                        .card-body
                                            h1.card-title.mb-0.h3
                                                span#preview-car-brand
                                                =' '
                                                span#preview-car-model
                                            h2.card-subtitle.h6.text-muted
                                                span#preview-car-details-version
                                            p.card-text.h1.my-4
                                                span#preview-price
                                                |  €
                                            p Vendeur :
                                                span#preview-user
                                            a.btn.btn-primary.w-100(href='#') Contactez le vendeur

                            .row
                                .col-8
                                    ul.list-2.my-4.aligned-items
                                        li
                                            span Couleur :
                                            span#preview-car-details-color.color-square.ml-2
                                        li
                                            span Places :
                                                =' '
                                                b#preview-car-details-places
                                        li
                                            span Portes :
                                                =' '
                                                b#preview-car-details-doors
                                        li
                                            span Kilométrage :
                                                =' '
                                                b#preview-car-details-km
                                                b  km
                                        li
                                            span Energie :
                                                =' '
                                                b#preview-car-details-energy
                                        li
                                            span Année de production :
                                                =' '
                                                b#preview-car-details-productionYear
                                        li
                                            span Transmission :
                                                =' '
                                                b#preview-car-details-transmission
                                        li
                                            span Chevaux (dynamiques) :
                                                =' '
                                                b#preview-car-details-hp
                                                b  ch
                                        li
                                            span Chevaux (fiscaux) :
                                                =' '
                                                b#preview-car-details-cv
                                                b  cv
                                    h3 Informations complémentaires
                                    p#preview-content

                button.btn.btn-primary.btn-lg.mt-5(type='submit') Créer l'annonce
            hr.mt-5
            .d-flex.justify-content-end.my-4
                span#step-previous.btn.btn-outline-primary.mr-3 Précédent
                span#step-next.btn.btn-primary Suivant
                    .error-popup#step-error
                        p.mb-0 Remplir les champs suivants :
                        ul#fields-error.mb-0

block pageScript
    script(src="/js/pages/addAnnonce.js")



