extends pug-layout/_layout
block content
    .container
        h1 #{title}
        .row.text-center.mt-5
            .col-6.border-right
                h2 Se connecter
                form#login(method='POST' action="/login")
                    .form-group
                        input#login-mail.form-control(type='text' name='mail' autocomplete='email' placeholder='Email' required)
                    .form-group
                        input.form-control(type='password' name='password' autocomplete='current-password' placeholder='Mot de passe' required)
                    .form-group.text-right
                        button#login-submit.btn.btn-secondary(type='submit') Se connecter
                    .form-group
                        small#login-error.text-danger
            .col-6
                h2 S'inscrire
                form#register
                    .form-group
                        input.form-control(type='text' name='username' autocomplete='username' placeholder='Nom d\'utilisateur' required)
                    .form-group
                        input#register-mail.form-control(type='email' name='mail' autocomplete='email' placeholder='Email' required)
                    .form-group
                        input.form-control(type='password' id="password" name='password' autocomplete='new-password' placeholder='Mot de passe' required)
                    .form-group
                        input.form-control(type='password' id="check-password" name='password-check' autocomplete='new-password' placeholder='Confirmer votre mot de passe' required)
                    .form-group.text-right
                        button#register-submit.btn.btn-secondary(type='submit') S'inscrire
                    .form-group
                        small#register-error.text-danger



block pageScript
    script(src='/js/pages/login.js')