@font-face {
  font-family: 'Asap';
  src: url('/css/font/Asap-BoldItalic.woff2') format('woff2'),
  url('/css/font/Asap-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Asap';
  src: url('/css/font/Asap-MediumItalic.woff2') format('woff2'),
  url('/css/font/Asap-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Asap';
  src: url('/css/font/Asap-SemiBold.woff2') format('woff2'),
  url('/css/font/Asap-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('/css/font/Asap-Medium.woff2') format('woff2'),
  url('/css/font/Asap-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('/css/font/Asap-Regular.woff2') format('woff2'),
  url('/css/font/Asap-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('/css/font/Asap-Bold.woff2') format('woff2'),
  url('/css/font/Asap-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('/css/font/Asap-Italic.woff2') format('woff2'),
  url('/css/font/Asap-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Asap';
  src: url('/css/font/Asap-SemiBoldItalic.woff2') format('woff2'),
  url('/css/font/Asap-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

