#file-img-preview{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #80808047;
  border-radius: 4px;
  img{
    margin: 8px;
    max-width: 18%;
  }
}

.form-step{
  .step{
    display: none;
    &.step-active{
      display: block;
    }
    &#step-0{
      display: block;
    }
  }
}