#car-model-warn{
  position: absolute;
  left: 50%;
  bottom: -24px;
  transform: translateX(-50%);
}

#step-next{
  position: relative;
  .error-popup{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% + 4px);
    width: 205px;
    padding: 8px;
    background: white;
    text-align: left;
    color: $danger;
    border-radius: 3px;
    border: 2px solid $danger;
    font-size: 14px;
  }
}

#loader{
  display: none; //flex in JS
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #5a5a5a5c;
  justify-content: center;
  align-items: center;
  z-index: 5;
  .spinner-border{
    width: 7rem;
    height: 7rem;
    font-size: 2em;
  }
}